.rating-card{
    border-radius: 10px;
    height: 175px;
    width: 180px;
    background-color: #fff;
    margin: 0 20px 20px 0;
    .icon-imdb{
        height: 35px;
        width: 35px;
    }
}

.movie-card{
    background-color: #fff;
    padding: 8px;
    border-radius: 10px;

    .movie-poster{
        height: 200px;
        width: 150px;
        border-radius: 5px;
        border:3px solid #fcbc02 ;
    }
    .movie-name{
        font-size: 18px;
        font-family: $lato-semibold;
    }
    .movie-rating{
        font-size: 11px;
        font-family: $lato-semibold;
    }
}